* {
    margin: 0;
    padding: 0;
}
.img {
    height: 20% auto !important;
    position:relative;
   
}
#heading{
    font-weight: 1200;
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 40%;
    left:33%;

    
}
.col-md-12{
    margin-top: 30px;
}
body,html {
    height: 100%;
}
p{
    margin-top: 20px;
}
#content{
    position: absolute;
    top: 20%;
    left: 25%;
    color: white;

}
.portfolio img{
    width: 20%;
    height: auto;
    margin: 10px;
    display: inline-block;
}
.row {
    margin-top: 2%;

}
.btn-dark{
    width: 30%;
    text-align: center;
    height: auto;
}
#contact{
   
    position: absolute;
    top: 20%;
    left: 35%;
    color: white;
    background:transparent !important;
}
